.chat-main{  
  height: 100%;
  width: calc(100vw - 300px);
  margin-left: 300px;
  position: relative;

  &__group-contents{
    height: 100px;
    width: 100%;
    background-color: $white;
    position: absolute;
    margin: 0;
    @include display-space-between();
    border-bottom: solid 1px #eee;
  }

  &__message-list{
    height: calc(100vh - 100px - 90px);
    width: 100%;
    background-color:#fafafa;
    position: absolute;
    margin: 100px 0 0;
    padding-top: 35px;
    padding-left: 40px;
    overflow: scroll;
  }

  &__message-form{
    height: 90px;
    width: 100%;
    background-color: #d2d2d2;
    position: absolute;
    bottom: 0;
  }
}