.form-contents{
  height: 100%;
  width: 100%;
  @include display-space-between();
  padding: 20px 40px;
  &__send-btn{
    @include make-btn(50px,30px,white);
    @include message-form-position();
    background-color: $btn-color;
    margin-left: 15px;
  }
}