.group-box{
  width: 100%;
  font-weight: bold;
  padding: 20px;
  &--no-decoration{
    text-decoration: none;
    color: $white;
  }
  &__name{
    font-size: 15px;
    text-align: 15px;
    margin-bottom:5px;
  }
  &__latest-message{
    font-size: 11px;
    text-align: 11px;
  }
}