.input-message{
  height: 50px;
  width: calc(100vw - 300px - 95px);
  background-color: white;
  position: relative;
  &__text{
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: #999999;
    @include message-form-position();
    position: absolute;
    text-align: left;
    padding-left: 10px;
  }
  &__image{
    @include message-form-position();
    position: absolute;
    right: 10px;
    &--invisible{
      display: none;
    }
  }
}