.message-info{
  width: 100%;
  font-size: 0;
  &__name{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-align: center;
  }  
  &__date{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
  }
}